
.ls-arrow {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    transition: .3s;
    padding: 0 30px;
}


.ls-arrow.show {
    opacity: 1;
}

.ls-arrow.hide {
    opacity: 0;
}

.ls-arrow-icon {
    font-size: 60px;
    color: #999;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.ls-arrow-icon:hover {
    color: #eee;
}
