
.ls-arrow-icon {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    font-size: 60px;
    cursor: pointer;
    user-select: none;
    transition: color .3s;
    z-index: 2000;
}

.ls-arrow-icon.left {
    left: 30px;
}

.ls-arrow-icon.right {
    right: 30px;
}

.ls-arrow-icon:hover {
    color: rgba(0, 0, 0, .8) !important;
}
